[class*=' imghvr-']>img,
[class^=imghvr-]>img {
    vertical-align: top;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

[class*=' imghvr-'],
[class^=imghvr-] {
    position: relative;
    display: inline-block;
    margin: 0;
    background-color: #2266a5;
    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    height: 100%;
}

.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 10px;
}

li.nav-item.active {
}

a.nav-link.active {
    border-bottom: 2px solid;
}