[class*=' imghvr-']>img,
[class^=imghvr-]>img {
    vertical-align: top;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

[class*=' imghvr-'],
[class^=imghvr-] {
    position: relative;
    display: inline-block;
    margin: 0;
    background-color: #2266a5;
    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    height: 100%;
}

.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 10px;
}

li.nav-item.active {
    border-bottom: 2px solid;
}

.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.hvr-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

figure {
    box-shadow: 1px 1px 5px #000000;
}

figcaption h6 {
    font-size: 1vw;
    text-align: center;
    padding-top: 5px;
}

figcaption p {
    font-size: 1vw;
    text-align: center;
    font-family: Abhaya Libre;
    color: #fdfdfd;
}

[class*=' imghvr-'] a,
[class^=imghvr-] a {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: relative;
    align-self: center;
    border-radius: 10px;
}