[class*=' imghvr-']>img,
[class^=imghvr-]>img {
    vertical-align: top;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

[class*=' imghvr-'],
[class^=imghvr-] {
    position: relative;
    display: inline-block;
    margin: 0;
    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(center center, rgb(172, 230, 242) 17.9408%, rgb(95, 201, 218) 84%);
}

.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 10px;
}

li.nav-item.active {
    border-bottom: 2px solid;
}

.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.hvr-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

figure {
    box-shadow: 1px 1px 5px #000000;
}

figcaption h6 {
    font-size: 1vw;
    text-align: center;
    padding-top: 5px;
}

figcaption p {
    font-size: 1vw;
    text-align: center;
    font-family: Abhaya Libre;
    color: #fdfdfd;
}

[class*=' imghvr-'] a.btn,
[class^=imghvr-] a.btn {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: relative;
    align-self: center;
    border-radius: 10px;
}

[class*=' imghvr-'] a,
[class^=imghvr-] a {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    align-self: center;
    border-radius: 10px;
    color: rgba(227, 27, 27, 0);
}

[class*=' imghvr-'] figcaption,
[class^=imghvr-] figcaption {
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background: linear-gradient(224deg, rgb(172, 230, 242) 28.5917%, rgb(95, 201, 218) 72.7574%);
}

body {
    background: linear-gradient(134deg, rgb(251, 251, 251) 22.4852%, rgb(137, 207, 240) 72.7811%);
}

div#wrapper-footer {
    background-color: #5b7485;
}

.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #5fc9da;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-color: #ffffff;
    border-radius: 10px;
}

a.nav-link.footer {
    color: #fafafa;
    font-weight: 600;
    font-family: Anaheim;
}

a.nav-link.footer {
    font-family: Anaheim;
    font-weight: 600;
    color: #fafafa;
}